<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <fixpay>
                <active>1</active>
                <model>Fixpay\Model\Payment\Fixpay</model>
                <order_status>pending</order_status>
                <title>Fixpay</title>
                <allowspecific>0</allowspecific>
                <group>Offline</group>
            </fixpay>
        </payment>
    </default>
</config>
